* text=auto

*.bat text eol=crlf
*.ps1 text eol=crlf
*.sh text eol=lf
*.kt text eol=lf
*.java text eol=lf
*.swift text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.json text eol=lf
*.gradle text eol=lf
*.properties text eol=lf
*.xml text eol=lf
*.md text eol=lf
*.cube text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.keystore binary
*.jar binary
